<div class="container">
	<div class="container">
		<header>
			<div class="img-client">
				<img id="brand-client" src="">
				
			</div>
			<p class="text-center" id="store-field"></p>
		</header>

		<main>
			<div id="component-anchor-question" class="mt-8 d-none">
				<h3 id="anchor-question-field"></h3>
				<div class="faces">
					<div class="very-bad svg-nps" data-tree="0">
						<img src="/images/faces/very-bad.svg" alt="Péssimo">
						<span>PÉSSIMO</span>
					</div>

					<div class="bad svg-nps" data-tree="1">
						<img src="/images/faces/bad.svg" alt="Ruim">
						<span>RUIM</span>
					</div>

					<div class="indifferent svg-nps" data-tree="2">
						<img src="/images/faces/indifferent.svg" alt="Indiferente">
						<span>INDIFERENTE</span>
					</div>

					<div class="bom svg-nps" data-tree="3">
						<img src="/images/faces/good.svg" alt="Bom">
						<span>BOM</span>
					</div>

					<div class="great svg-nps" data-tree="4">
						<img src="/images/faces/great.svg" alt="Excelente">
						<span>EXCELENTE</span>
					</div>
				</div>
			</div>

			<div id="container-questions">
				<!-- Conteúdo das perguntas aqui -->
			</div>

		</main>

		<footer class="container-footer">
			<div>
				{{!-- <a href="https://automatizavarejo.com.br" target="_blank">
					<img src="/images/logo/logo.png" alt="Logo" class="logo-automatiza">
				</a> --}}
				
						<a href="https://automatizavarejo.com.br" target="_blank"
								class="footer-text footer-link">Automatiza Varejo
						</a><span class="footer-text"><span>2023©</span>Copyright.</span>
			</div>
		</footer>

	</div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
<script src="/js/plugins/ua-parser-js-master/dist/ua-parser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chroma-js@2.1.0/chroma.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/survey.js"></script>
