<div class="container">
	<div class="img-client">
		<img id="brand-client" src="">
	</div>

	<div id="component-anchor-question">
		<h3 id="anchor-question-field"></h3>

		<div class="faces">

			<div class="great svg-nps" data-tree="4">
				<img src="/images/faces/great.svg" alt="Muito Bom">
				<span>MUITO BOM</span>
			</div>

			<div class="bom svg-nps" data-tree="3">
				<img src="/images/faces/good.svg" alt="Bom">
				<span>BOM</span>
			</div>

			<div class="indifferent svg-nps" data-tree="2">
				<img src="/images/faces/indifferent.svg" alt="Indiferente">
				<span>INDIFERENTE</span>
			</div>

			<div class="bad svg-nps" data-tree="1">
				<img src="/images/faces/bad.svg" alt="Ruim">
				<span>RUIM</span>
			</div>


			<div class="very-bad svg-nps" data-tree="0">
				<img src="/images/faces/very-bad.svg" alt="Muito Ruim">
				<span>MUITO RUIM</span>
			</div>

		</div>
	</div>

	<div id="container-questions"class="container my-4">
		{{!-- <div id="shape-input-question" class="input-group mt-8 d-flex flex-column align-items-center">
			<h3>Descrição da pergunta:</h3>
			<input type="text" class="form-control w-75 rounded" />
		</div> --}}
		{{!-- <div id="shape-import-question" class="input-group mt-8 d-flex flex-column align-items-center">
			<h3>Descrição da pergunta:</h3>
			<div class="form-check form-check-inline">
				<input type="checkbox" class="form-check-input text-dark" id="checkbox-input-1">
				<label class="form-check-label mr-4" for="checkbox-input-1">Teste</label>
				<input type="checkbox" class="form-check-input text-dark" id="checkbox-input-2">
				<label class="form-check-label mr-4" for="checkbox-input-2">Teste 2</label>
			</div>
		</div> --}}
		{{!-- <div id="shape-binary-question" class="input-group mt-8 d-flex flex-column align-items-center">
			<h3>Descrição da pergunta:</h3>
			<div class="btn-group-toggle" data-toggle="buttons">
				<label class="btn btn-secondary btn-checkbox mr-2 btn-fixed-size">
					<input type="checkbox" autocomplete="off">
					<span class="btn-content-fit">Sim, eu gostaria.</span>
				</label>
				<label class="btn btn-secondary btn-checkbox mr-2 btn-fixed-size">
					<input type="checkbox" autocomplete="off">
					<span class="btn-content-fit">Não, obrigado(a)!</span>
				</label>
			</div>
		</div> --}}
	</div>
	
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/survey.js"></script>