@font-face {
	font-family: roboto;
	src: url('../fonts/roboto.ttf') format('truetype');
}

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.d-none {
	display: none !important;
}

.container-footer {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
	min-height: 100%;
}

.custom-checkbox {
    display: none;
}

.custom-label {
    display: inline-block;
    margin-right: 5px;
    margin-left: 10px;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.custom-label:hover {
    background-color: #f3f3f3;
}

.custom-checkbox:checked + .custom-label {
    background-color: #2196f3;
    color: #ffffff;
}




.logo-automatiza {
	width: 80px;
	height: 30px;
}

img {
	height: 85px;
}

.img-client {
	display: flex;
	justify-content: center;
}

h3 {
	font: 1.4rem roboto, sans-serif;
	text-align: center;
	margin: 40px 0;
}

.faces {
	display: flex;
	flex-direction: row;
	max-width: 700px;
	margin: 0 auto;
	justify-content: space-between;
}

@media(max-width: 700px) {
	.faces {
		flex-direction: column;
	}
}

.faces>div {
	display: flex;
	flex-direction: column;
	padding: 15px;
	align-items: center;
	cursor: pointer;
}

.faces>div span {
	font: 1.1rem roboto, sans-serif;
	margin-top: 7px;
}

.svg-nps {}
